.contactContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.contactBlock {
    min-height: 100vh;
    background-color: rgba(131, 102, 55, 0.85)
}

.title {
    background-color: rgba(131, 69, 131, 0.85);
}

.form {
    border: 1px solid;
    height: 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;

}

.textarea {
    height: 10vh;
}

.button {
    margin-top: 80px;
}