.block {
    height: 100vh;
    background-color: rgba(37, 35, 131, 0.85)
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: rgba(219, 42, 26, 0.85);
}

.share {
    border: 1px solid red;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gold;
}

.footerEnd {
    background-color: plum;
    text-align: center;
}